.notes-area {
    padding: 5rem 2.5rem;
    position: absolute;
    width: 100%;
}

.note {
    position: relative;
    margin-bottom: 3rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px black;
    word-break: break-word;
}

.note:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
}

.note .note-head {
    border-bottom: 2px solid #0000004f;
    display: flex;
    padding: 0.5rem 0;
    padding-top: 1.2rem;
    padding-left: 1rem;
}


.note .note-head .title {
    font-family: 'Merriweather', sans-serif;
    letter-spacing: 0.1rem;
    margin: 0 auto;
    line-height: 1.4;
    font-size: 1.1rem;
    text-align: center;
    max-height: 150px;
    overflow-y: scroll;
    color: #001b44;
}


.note .note-head .more-icon {
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    color: #00a8d6;
    margin-right: 1rem;
    margin-left: 0.5rem;
    position: relative;
}

.note .note-head .more-icon .more-icon-circles {
    padding: 0.1rem 0.2rem;
    display: flex;
    flex-direction: column;
}

.note .note-head .more-icon .more-icon-circles .fa-circle {
    margin-bottom: 0.2rem;
}

.note .note-head .more-icon .menu-container {
    position: absolute;
    font-size: 1rem;
    width: fit-content;
    top: 0;
    transform: translateX(-105%);
    padding: 1rem 0;
    box-shadow: 0px 0px 7px #000000ad;
    border-radius: 13px;
    background: #ffffff;
    color: white;
    z-index: 1;
}

.note .note-head .more-icon .menu-container .menu-box {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #444444;
    text-transform: capitalize;
    line-height: 1.7;

}

.note .note-head .more-icon .menu-container .menu-box .menu {
    display: inline-block;
    min-width: 130px;
    list-style: none;
    color: #444444;
    text-transform: capitalize;
    line-height: 1.7;
    padding: 0 15px;
}

.note .note-head .more-icon .menu-container .menu-box .menu:hover {
    background-color: #80808040;
    cursor: pointer;
}

.note .note-body {
    padding: 1rem 1.2rem;
    padding-bottom: 1rem;
    line-height: 1.3;
}

.note .note-body .content {
    word-break: break-word;
    color: #383838;
    max-height: 250px;
    overflow-y: scroll;
}

.note .note-body .note-labels {
    margin-top: 1rem;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}

.note .note-body .note-labels .label {
    position: relative;
    border: 1px solid #19191966;
    padding: 0 0.8rem;
    background: #000000cf;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.8rem;
    padding-right: 1.5rem;
    font-size: 0.9rem;
    color: #888888;
    box-shadow: 0px 0px 4px black;
}

.note .note-body .note-labels .label .label-text {
    color: rgb(195, 195, 195);
}

.note .note-body .note-labels .label .close-button {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.5rem;
    color: white;
}


/* --- */
.note-view-area {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: #000000bf;
    padding: 1rem 2rem;
    z-index: 2;
    display: flex;
    align-items: center;
}

.note-view-area .note {
    background: rgb(253, 253, 253);
    padding-bottom: 0.5rem;
    margin: 0 auto;
    word-break: break-all;
}

.note-view-area .note:hover {
    box-shadow: 2px 2px 8px black;
}

.note-view-area .note .note-head .title {
    text-align: center;
    max-height: 80px;
    overflow-y: scroll;
    padding-right: 5px;
}

.note-view-area .note .note-body .content {
    max-height: 280px;
    overflow-y: scroll;
}

.note-view-area .note .note-body .note-labels {
    max-height: 70px;
    overflow-y: scroll;
    padding-bottom: 0.2rem;
}

.note-view-area .note .note-head .title:focus-visible,
.note-view-area .note .note-body .content:focus-visible,
.note-view-area .note .note-body .note-labels:focus-visible,
.note .note-head .more-icon .menu-container .menu-box .search-result:focus-visible {
    outline: none;
}

.note .note-head .title::-webkit-scrollbar,
.note .note-body .content::-webkit-scrollbar,
.note .note-body .note-labels::-webkit-scrollbar,
.note .note-head .more-icon .menu-container .menu-box .search-result::-webkit-scrollbar {
    width: 0.6rem;
}

.note .note-head .title::-webkit-scrollbar-thumb,
.note .note-body .content::-webkit-scrollbar-thumb,
.note .note-body .note-labels::-webkit-scrollbar-thumb,
.note .note-head .more-icon .menu-container .menu-box .search-result::-webkit-scrollbar-thumb {
    background-color: #ff8000;
    border-left: 5px solid white;
}


/* --- */
.prompt {
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #00000082;
    top: 0;
    left: 0;
}

.prompt .msg-box {
    border-radius: 20px;
    background: #f1e8e8;
    padding: 1rem 2rem;
    box-shadow: 1px 1px 17px black;
}

.prompt .msg-box .msg {
    margin-bottom: 1rem;
}

.prompt .msg-box .msg .label-name {
    color: red;
    font-family: cursive;
}

.prompt .msg-box .msg-button {
    display: flex;
    justify-content: center;
}

.prompt .msg-box .msg-button .red {
    margin-right: 2rem;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    background: #ff0000;
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
}

.prompt .msg-box .msg-button .green {
    margin-right: 2rem;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    background: #00b500;
    padding: 0.2rem 0.6rem;
    border-radius: 6px;
}

.prompt .msg-box .msg-button .red:hover,
.prompt .msg-box .msg-button .green:hover {
    cursor: pointer;
}


/* --- */

.note .note-head .more-icon .menu-container .menu-box .search {
    color: #787878;
    margin-bottom: 0.5rem;
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: none;
    letter-spacing: 0.4px;
    margin: 0 1rem 0.5rem;
}

.note .note-head .more-icon .menu-container .menu-box .search .fa-search {
    width: 10%;
}

.note .note-head .more-icon .menu-container .menu-box .search .search-text {
    margin-left: 0.8rem;
    width: 80%;
}

.note .note-head .more-icon .menu-container .menu-box .search .search-text:focus {
    outline: none;
}

.note .note-head .more-icon .menu-container .menu-box .search-result {
    color: black;
    list-style: none;
    max-height: 80px;
    direction: rtl;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0.8rem;
    margin: 0 1rem 0.5rem;
    text-transform: none;
    letter-spacing: 0.4px;
}

.note .note-head .more-icon .menu-container .menu-box .search-result .label input[type="checkbox"] {
    margin-left: 0.4rem;
}


.note .note-head .more-icon .menu-container .create-label-container {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    max-width: inherit;
    border-top: 2px solid #c1c1c1;
}

.note .note-head .more-icon .menu-container .create-label-container:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.note .note-head .more-icon .menu-container .create-label-container .create-label-icon {
    color: purple;
    margin-right: 0.5rem;
    transform: translateY(2px);
}

.note .note-head .more-icon .menu-container .create-label-container .create-label-text {
    color: black;
    word-break: break-all;
}

.note .note-head .more-icon .menu-container .create-label-container .create-label-text .create-label-highlighted {
    font-weight: bold;
    letter-spacing: 0.2px;
    text-transform: none;
}


/* --- */
.note .note-head .more-icon .menu-container .menu-box .search-result .label{
    direction: ltr;
    display: flex;
    align-items: center;
}

.note .note-head .more-icon .menu-container .menu-box .search-result .label input[type="checkbox"]{
    order: 2;
}

.note .note-head .more-icon .menu-container .menu-box .search-result .label .label-text{
    order: 1;
}
